/* 
	Global styling 
					*/
body {
	overflow:hidden;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

#header{
	box-shadow: 0 8px 6px -6px black;
	text-align: left;
	height: 50px;
}

#logo img{
	margin-left: -30px;
	float: left;
	height:38px;
}

#header ul{
	list-style-type: none;

}
.menu_tab{
	line-height:50px;
	float: left;
	margin:0 20px;
	text-decoration:none;
	color: black;
}

#search_box{
	padding: 0 5px;
	float:right;
	margin:10px 20px;
	display: flex;
	color: black;
	text-decoration:none;
}

.dropdown {
	float:right;
	overflow: hidden;
  }
  
.dropdown #profile_tab img {
	height:38px;
	float:right;
	margin:0 20px;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
  }
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
.dropdown-content a:hover {
	background-color: #ddd;
  }
  
.dropdown:hover .dropdown-content {
	display: block;
  }

#body_wrapper{
	width: 100%;
	height: -webkit-calc(100% - 100px);
	overflow-y: scroll;
}

footer{
	background: rgb(127, 96, 0);
	height: 55.68px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.footer_tab{
	color:white;
	text-decoration: none;
	margin: 0 40px;
	line-height: 55.68px;
	font-size: 125%;
}

/* 
	Home page 
					*/
#intro h3{
	margin:30px;
	text-align: left;
}

#title_name img{
	margin-top: 30px;
	width: 100%;
	/*height: 55.68px;*/
}


.tile{
	margin: 20px;
}

.tile:hover
{
	margin: 20px;
	box-shadow: 0px 1px 7px 0px rgb(106, 111, 109)
}

/* 
	Evaluate 
					*/


.container {
	text-align: center;
	border-radius: 10px;
	border: 1px dotted black;
	width: 30%;
	margin: auto;
	margin-top: 100px;
	padding: 15px;
}

#description {
	text-align: left;
	font-size: 20px;
}
#go {
	text-align: center;
}

#go button {
	font-size: 20px;
	border-radius: 4px;
	padding: 5px;
	background-color: rgb(191, 144, 0);
	color: white;
}
#question {
	font-size: 24px;
	text-align: left;
}

 #answers {
 	font-size: 16px;
 	text-align: left;
 }

 .back {
 	display: inline-block;
 }

.back button {
	margin-top: 10px;
	margin-left: auto;
}
 .next {
 	display: inline-block;
 }

 .next button {
 	margin-top: 10px;
 	background-color: rgb(191, 144, 0);
 	color: white;
 	border-radius: 4px;
 }

 #resource_button button{
 	margin-right: 10px;
 }

/* Resources */
/*
.resources {
	text-align: center;
	overflow: scroll;
	height: -webkit-calc(100% -100px);
}*/
table{
	border: 1px dotted black;
	border-collapse: collapse;
	border-radius: 5px;
}
iframe {
	margin-top: 20px;
	margin-bottom: 20px;
}
 #body_wrapper td {
 	text-align: center;
 }
 #body_wrapper img {
 	height: 200px;

 }
.products {
	text-decoration: underline;
}
tr:nth-child(even) {
    background-color: #EFEFEF;
}

 th {
 	width: 300px;
 }
 #posts ul {
 	list-style: none;
 	margin: auto;
 }
 #posts ul li{
 	float: left;
 	width: 30%;
 	margin-left: 10px;
 }


@calendar-border:rgb(220,220,255);
@calendar-bg:#fff;
@calendar-standout:rgb(40,40,59);
@calendar-color:#444;
@calendar-fade-color:#c0c0c0;
@body-color:#444;


*, *:before, *:after {
  box-sizing:border-box;
}

.group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

img {
  max-width:100%;
  height:auto;
  vertical-align:baseline;
}


.max(@maxWidth;
  @rules) {
    @media only screen and (max-width: @maxWidth) {
      @rules();
    }
  }

.min(@minWidth;
  @rules) {
    @media only screen and (min-width: @minWidth) {
      @rules();
    }
  }


.calendar-wrapper {
  width:360px;
  margin:3em auto;
  padding:2em;
  border:1px solid @calendar-border;
  border-radius:5px;
  background:@calendar-bg;
  
}
table {
  clear:both;
  width:100%;
  border:1px solid @calendar-border;
  border-radius:3px;
  border-collapse:collapse;
  color:@calendar-color;
}
td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid @calendar-border;
  border-top:1px solid @calendar-border;
  width:100% / 7;
}
td.not-current {
  color:@calendar-fade-color;;
}
td.normal {}
td.today {
  font-weight:700;
  color:@calendar-standout;
  font-size:1.5em;
}
thead td {
  border:none;
  color:@calendar-standout;
  text-transform:uppercase;
  font-size:1.5em;
}
#btnPrev {
  float:left;
  margin-bottom:20px;
  &:before {
    content:'\f104';
    padding-right:4px;
  }
}
#btnNext {
  float:right;
  margin-bottom:20px;
  &:after {
    content:'\f105';
    padding-left:4px;
  }
}
#btnPrev, #btnNext {
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  color:@calendar-fade-color;
  cursor:pointer;
  text-transform:uppercase;
  transition:all 0.3s ease;
  &:hover {
    color:@calendar-standout;
    font-weight:bold;
  }
}

